body { background:#0f0f1a; color:white; font-family:Poppins; }

.navbar { background:transparent; }

.hero {
height:100vh;
background:linear-gradient(135deg,#0f0f1a,#1c1c3c);
}

.highlight { color:#00f7ff; }
.neon-text { color:#00f7ff; }

.section { padding:80px 0; }

.btn-glow {
background:#00f7ff;
color:black;
border-radius:30px;
padding:10px 25px;
transition:0.4s;
}

.btn-glow:hover {
box-shadow:0 0 20px #00f7ff;
transform:scale(1.05);
}

.project-card {
background:#1c1c3c;
padding:25px;
border-radius:15px;
transition:0.4s;
}

.project-card:hover {
transform:translateY(-10px);
box-shadow:0 0 20px #00f7ff;
}

.progress { height:8px; background:#222; }
.progress-bar {
background:#00f7ff;
width:0;
transition:2s;
}

.glow-img {
border:3px solid #00f7ff;
border-radius:20px;
}
.modal-content {
border-radius: 15px;
box-shadow: 0 0 20px #00f7ff;
}
.profile-img {
    width: 400px;
    max-width: 100%;
    border-radius: 50%;
    border: 2px solid #00f7ff;
    padding: 5px;
    background: transparent;
    box-shadow: 0 0 25px rgba(0, 247, 255, 0.5);
    transition: 0.4s;
}

.profile-img:hover {
    transform: scale(1.05);
}